**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/node_modules
**/npm-debug.log
**/azds.yaml
**/charts

**/secrets.dev.yaml
**/values.dev.yaml

**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.local.json

**/[Ll]ogs/
**/*.log

**/*.pfx
**/*.key
**/*.pem
**/*.cert

**/.vs/
**/.vscode/
**/.idea/

LICENSE
README.md